{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="container">
    <header class="blog-header py-4">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4">
                <a class="blog-header-logo" href="#">Blog<span>Place</span></a>
            </div>
            <div class="col-4">
                <form action="{% url 'search' %}" method="GET">
                    <div class="input-group">
                        <input class="form-control" type="text" name="keyword" value="{{ keyword }}" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button type="submit" class="btn btn-warning" id="button-search" type="button">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-login me-2" href="#">Login</a>
                <a class="btn btn-register" href="#">Register</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-4 border-bottom border-top">
        <nav class="nav d-flex justify-content-between">
            {% for c in categories %}
            <a class="p-2 link-secondary" href="{% url 'category_page' c.id %}">{{ c.category_name }}</a>
            {% endfor %}
        </nav>
    </div>
</div>

{% block content%}

{% endblock %}

<footer class="blog-footer py-5 mt-5 bg-dark text-white text-center">
    <p>blogs &copy; 2026 | Developed by <a href="#" class="text-warning">Muhammed Hafil</a></p>
    <p><a href="#" class="text-white-50">Back to top</a></p>
</footer>

</body>
</html>