{% extends 'base.html' %}
    {% block content %}
        {% if posts %}
        {% for p in posts %}
        <article class="blog-post mb-5">
            <h2 class="blog-post-title mb-1">{{p.title}}</h2>
            <p class="blog-post-meta">{{ p.created_at | timesince }} ago by <a href="#">{{ p.author }}</a></p>
            <p>{{ p.short_description | truncatewords:15 }}</p>
            <p>{{ p.blog_body }}</p>
        </article>
        {% endfor %}
        {% else %}
        <p>No posts found</p>
        {% endif %}
    {% endblock %}
